<% include templates/header %>

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> New Poll</h1>

    <form action="/newpoll" method="post">
      <div class="form-group">
          <label>Question</label>
          <input type="text" class="form-control" name="question" placeholder="Enter Your Question Here">
      </div>
      <div id="allOptions">
        <h4>Answer Options</h4>
      <div class="form-group">
          <label>Option</label>
          <input type="text" class="form-control" name="option" placeholder="Write Your Option Here">
      </div>
    </div>
          <button type="button" class="btn btn-lg btn-success option">+</button>
        <button type="submit" class="btn btn-warning btn-lg">Create Poll</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>

<% include templates/footer %>
