<% include templates/header %>
<div class="main">
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>Hello <%= user.local.firstName  + " " + user.local.lastName%> </p>
  </div>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <h2>My Polls</h2>
    <% for(var i = 0; i < polls.length; i++) { %>
      <p><%- link_to(polls[i].question, '/poll/' + polls[i].id)%></p>
  <% } %>
  </div>
</div>
<% include templates/footer %>
