<% include templates/header %>
<div class="main">
  <div class="row">
    <div class="col-md-4">
    <p class="lead"><%= question %></p>
    <form method="post" action="/vote">
      <div class="form-group">
      <select class="form-control" name="vote">
    <% for (var i = 0; i < options.length; i++) { %>
      <option>
      <%= options[i] %>
    </option>
    <% } %>
</select>
</div>
<input type="hidden" value="<%= id %>" name="poll_id">
<div class="form-group">
<button class="btn btn-primary">Vote</button>
</div>
</form>
</div>
<div class="col-md-8">

<div class="displayVotes">
  <canvas id="myChart" width: "400" height: "400"></canvas>
</div>

</div>
</div>
</div>
</div> <!-- /container -->
<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.2/Chart.bundle.min.js"></script>
<script src="/js/vote.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
